.leaflet-container {
  height: 600px;
  width: 50%;
  float: right;

}

img {
  float: left;
  width: 40%;
  height: 600px;
}

.blah, {
  background-color: red;
  display: block;
}

.leaflet-container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.map {
  height: 100px;
  width: 100px;
}

.indexImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-color: lightblue;
}

.wonder-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-color: lightblue;
  margin-bottom: 5px;
}

.box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.showBox {
  display: flex;
  flex-direction: column;
}

.showImg {
  justify-content: center;
  width: auto;
  margin-left: 195px;
  margin-top: 40px;
}

.deleteButton {
  width: 20%;
  height: 100px;
  font-size: 40px;
  margin-left: 40%;
  margin-bottom: 5%;
}
