.leaflet-container {
  height: 600px;
  width: 50%;
  float: right;

}

img {
  float: left;
  width: 40%;
  height: 600px;
}

.blah, .leaflet-container {
  background-color: red;
  display: block;
}

.leaflet-container {
  background-color: blue;
}

.map {
  height: 100px;
  width: 100px;
}

.indexImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-color: lightblue;
}

.wonder-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-color: lightblue;
  margin-bottom: 5px;
}

.box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
